.category-item {
  border-radius: 8px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(247, 247, 247, 1);
}
.category-button {
  width: 150px;
  height: 50px;
  color: rgba(25, 25, 25, 0.6);
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .category-button {
    background-color: white;
    cursor: pointer;
    color: rgba(25, 25, 25, 1);
    font-weight: 561;
    text-align: start;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .category-item {
    justify-content: flex-start;
  }
}
