.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 88vh;
}
.failure-container {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.failure-img {
  width: 343px;
  height: 185px;
}
.retry-btn {
  border: none;
  background-color: rgba(8, 140, 3, 1);
  padding: 12px 24px;
  color: #ffffff;
  border-radius: 8px;
}
.product-details-container {
  list-style-type: none;
  min-height: 190px;
  max-height: 263px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scrollbar-width: none;
  padding-left: 0px;
  direction: ltr;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding: 5px;
  border-top: 1px solid rgba(209, 213, 219, 1);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.nxt-mart-categories-products-container {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 50px; */
  /* margin-top: 100px; */
  overflow: hidden;
}

.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.home-page {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
}
.category-btn {
  background-color: white;
  border: none;
  width: 206px;
  padding: 20px;
  border-radius: 8px;
  text-align: start;
  font-size: 16px;
}
.content {
  overflow-y: auto;
  direction: rtl;
  padding-left: 30px;
  /* margin-left: 20px; */
}
.content::-webkit-scrollbar {
  width: 16px;
  background: #f8f8f8;
  border-radius: 8px;
}

.content::-webkit-scrollbar-thumb {
  background: #108c0c;
  border-radius: 8px;
  border: 3px solid #f8f8f8;
}
.category-button-container {
  direction: ltr;
}

.category-name-arrow-container {
  display: flex;
  align-items: center;
}

.category-button-container {
  display: flex;
  justify-content: space-between;
}

.view-all-button {
  display: block;
  border: none;
  background-color: white;
  color: rgba(8, 140, 3, 1);
  font-family: 'Inter';
}

.product-list-container {
  display: flex;
  align-items: center;
}
.active-category {
  background-color: green;
  color: white;
  font-size: 16px;
}
.category-heading {
  display: none;
}

@media screen and (min-width: 768px) {
  .nxt-mart-categories-products-container {
    flex-direction: row;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-color: rgba(8, 140, 3, 1) rgba(179, 179, 179, 0.1);
    /* margin-bottom: 250px; */
    /* margin-top: 120px; */
    flex-grow: 1;
  }
  .category-heading {
    display: block;
    color: rgba(8, 140, 3, 1);
    font-family: 'roboto';
    font-size: 20px;
    padding: 16px 24px 16px;
    width: 206px;
  }
  .product-list-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 250px;
    padding: 20px;
    font-family: 'Roboto';
    font-size: 20px;
    flex-shrink: 0;
    overflow-y: auto;
    scrollbar-width: none;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 120px;
    border-radius: 0;
  }
  .view-all-button {
    display: none;
  }
  .category-name-products-container {
    height: 357;
    opacity: 1;
    padding-bottom: 40px;
    gap: 26px;
    border-bottom-width: 1px;
    border-bottom: 1px solid rgba(216, 216, 216, 1);
    padding-top: 30px;
  }
  .product-details-container {
    min-height: 350px;
    opacity: 1;
    gap: 32px;
  }
}
