.cart-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-cart-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-item-image {
  width: 68px;
  height: 68px;
  border-radius: 5px;
}
.increment-decrement-container {
  border: 1px solid rgba(8, 140, 3, 1);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.decrement-button {
  border: none;
  padding: 4px;
  background-color: transparent;
  font-size: 20px;
  color: rgba(8, 140, 3, 1);
  margin: 5px;
}
.count {
  font-family: 'inter';
  font-size: 12px;
  color: rgba(8, 140, 3, 1);
}
.decrement-icons {
  font-size: 15px;
}
.name-weight-price-container {
  margin-left: 15px;
}
.product-name {
  font-family: 'inter';
  font-size: 14px;
  color: rgba(25, 25, 25, 1);
  font-weight: 400;
}
.product-weight {
  font-family: 'inter';
  font-size: 14px;
  color: rgba(128, 128, 128, 1);
}
.product-price {
  font-family: 'inter';
  font-size: 14px;
  color: rgba(25, 25, 25, 1);
  font-weight: 400;
}
.horizontal-line {
  border: none;
}
@media screen and (min-width: 768px) {
  .horizontal-line {
    height: 1px;
    background-color: rgba(216, 216, 216, 1);
  }
}
