.product-details {
  border: 1px solid rgba(216, 216, 216, 1);
  border-radius: 16px;
  min-width: 160px;
  max-width: 200px;
  min-height: 200px;
  max-height: 260px;
  padding: 10px 8px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.product-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 0;
}
.product-image {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
.product-name {
  font-family: 'inter';
  font-size: 14px;
  line-height: 1;
  margin-bottom: 3px;
}
.product-weight {
  font-family: 'inter';
  font-size: 14px;
  color: rgba(128, 128, 128, 1);
}
.price-add-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price {
  font-family: 'inter';
  font-size: 14px;
}
.add-button {
  border: 1px solid rgba(8, 140, 3, 1);
  color: rgba(8, 140, 3, 1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  padding: 8px;
  font-size: 12px;
}
